body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
}

header { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #222;
    color: white;
}

nav ul { 
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: 700;
}

.hero { 
    background: url('imgs/b3.jpg') center/cover no-repeat;
    color: white;
    text-align: center;
    padding: 100px 20px;
}

.btn { 
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff6600;
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: background 0.3s;
}

.btn:hover {
    background-color: #cc5500;
}

.vehicle-list .grid { 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    padding: 20px;
}

.vehicle-card { 
    background: white;
    padding: 10px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 8px;
    width: 250px;
    flex: 1 1 calc(33.333% - 15px);
    max-width: 250px;
}

.vehicle-card img { 
    width: 100%;
    height: auto;
    max-height: 150px;
    object-fit: cover;
    border-radius: 5px;
}

@media (max-width: 768px) {
    .vehicle-list .grid { 
        grid-template-columns: repeat(1, 1fr);
    }
    .vehicle-card {
        flex: 1 1 100%;
    }
}