body {
    font-family: 'Poppins', sans-serif;
    margin: auto;
    padding: auto;
    box-sizing: border-box;
    background-color: #f4f4f4;
    scroll-behavior: smooth;
}

header { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #222;
    color: white;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}

nav ul { 
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: 700;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ff6600;
}

.hero { 
    background: url('imgs/b3.jpg') center/cover no-repeat;
    color: white;
    text-align: center;
    padding: 100px 20px;
    min-height: 500px;
}

.btn { 
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff6600;
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: background 0.3s, transform 0.2s;
}

.btn:hover {
    background-color: #cc5500;
    transform: scale(1.05);
}



.vehicle-list .grid { 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    padding: 20px;
}

.vehicle-card { 
    background: white;
    padding: 15px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 8px;
   transition: transform 0.2s, box-shadow 0.2s;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   height: 230px;
   width: 280px;
   
}  

.vehicle-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.vehicle-card img { 
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
}

.vehicle-card h3,
.vehicle-card p {
    margin: 10px 0;
    font-size: 14px;
}

@media (max-width: 768px) {
    .vehicle-list .grid {
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    }

    .vehicle-card {
        width: 200px;
        height: 260px;
    }

    .vehicle-card img {
        height: 140px;
    }
}
